@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css';

body{
    background: black;
}

.projects{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
}

.project{
    flex: 0 0 30em;
    background-color: white;
    margin-right: 2em;
    height: 15em;
    margin-top: 2em;
    padding: 5em;
}

.project:after{
    content: '';
    display: block;
}

.project-name{
    font-size: 2em;
    font-weight: 600;
}

.new-project{
    height: 20em;
    margin-bottom: 3em;
}